{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <dev>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <div>
      <form
        id="form"
        class="w-10/12 mx-auto md:max-w-md"
        action="/form1"
        method="post"
      >
        {% csrf_token %}
        <div>
          <label for="name" class="text-sm block">予定</label>

          <input
            type="text"
            id="shcedule"
            name="schedule"
            class="w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            placeholder="A社商談"
            value="'{{schedule}}"
            required
            style="text-align:center"
          />
        </div>
        <label for="message">内容</label>
        <textarea id="message" name="message">{{ message }}</textarea>
        <div class="mb-8">
          <label for="name" class="text-sm block"> 時間 </label>
          <input
            type="time"
            id="time"
            name="time"
            class="w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            value="01:00"
            min="01:00"
            list="data-list"
            step="'3600"
            required
          />
        </div>
        <datalist id="data-list">
          <option value="01:00"></option>
          <option value="02:00"></option>
          <option value="03:00"></option>
          <option value="04:00"></option>
          <option value="05:00"></option>
          <option value="06:00"></option>
          <option value="07:00"></option>
          <option value="08:00"></option>
          <option value="09:00"></option>
          <option value="10:00"></option>
          <option value="11:00"></option>
          <option value="12:00"></option>
          <option value="13:00"></option>
          <option value="14:00"></option>
          <option value="15:00"></option>
          <option value="16:00"></option>
          <option value="17:00"></option>
          <option value="18:00"></option>
          <option value="19:00"></option>
          <option value="20:00"></option>
          <option value="21:00"></option>
          <option value="22:00"></option>
          <option value="23:00"></option>
        </datalist>

        <div id="daterange" class="text-sm block">
          <div>
            <label class="text-sm block"> 日程範囲 </label>
            <input
              type="date"
              id="daterange_Start"
              name="daterange_Start"
              class="w-fit py-2 mx-5 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
              reuired
            />
            <input
              type="date"
              id="daterange_End"
              name="daterange_End"
              class="w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
              required
            />
          </div>
        </div>

        <div id="timerange" class="text-sm block">
            <div>
              <label class="text-sm block"> 時間範囲 </label>
              <input
                type="time"
                id="timerange_Start"
                name="timerange_Start"
                class="w-fit py-2 mx-5 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
                reuired
              />
              <input
                type="time"
                id="timerange_End"
                name="timerange_End"
                class="w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
                required
              />
            </div>
          </div>


        <div>
          <label class="text-sm block"> 優先度 </label>
          <input
            type="text"
            id="priority"
            name="priority"
            class="w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            placeholder="3"
            style="text-align:center"
            required
          />
        </div>
        <div>
            <label class="text-sm block"> 回数 </label>
            <input
              type="text"
              id="frequency"
              name="frequency"
              class="w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
              placeholder="3"
              required
              style="text-align:center"
            />
          </div>
        <!-- <div class="example2" style="text-align: right">
          <input
            type="button"
            id="register"
            w-4
            value="登録"
            class="mx-2 bg-gray-700 hover:bg-gray-600 text-white rounded px-4 py-2"
          />
        </div> -->
        <button
          type="submit"
          style="text-align: right"
          class="mx-2 bg-gray-700 hover:bg-gray-600 text-white rounded px-4 py-2"
        >
          送信
        </button>
      </form>
    </div>
  </dev>
</html>