{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-orange-400">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <div class="mt-8 bg-orange-400">
      <form id="form" class="w-10/12 mx-auto md:max-w-md" action="/form1" method="post">
        {% csrf_token %}
        <div class="mb-8">
          <img
          src="https://cdn.discordapp.com/attachments/1019194467586146364/1019961031017119866/logo2.png"
          width="180px"
          height="200px"
          class="w-full"
       
        />
          <label for="name" class="text-center block font-mono text-white">予定</label>

          <input type="text" id="shcedule" name="schedule"
            class="rounded-lg w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            placeholder="A社商談" value="{{schedule}}" required style="text-align: center" />
        </div>

        <div class="mb-8">
          <label for="name" class="text-center block font-mono text-white"> 時間 </label>
          <input type="time" id="time" name="time" style="text-align: center"
            class="rounded-lg w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            value="01:00" min="01:00" list="data-list" step="'3600" required />
        </div>
        <datalist id="data-list">
          <option value="01:00"></option>
          <option value="02:00"></option>
          <option value="03:00"></option>
          <option value="04:00"></option>
          <option value="05:00"></option>
          <option value="06:00"></option>
          <option value="07:00"></option>
          <option value="08:00"></option>
          <option value="09:00"></option>
          <option value="10:00"></option>
          <option value="11:00"></option>
          <option value="12:00"></option>
          <option value="13:00"></option>
          <option value="14:00"></option>
          <option value="15:00"></option>
          <option value="16:00"></option>
          <option value="17:00"></option>
          <option value="18:00"></option>
          <option value="19:00"></option>
          <option value="20:00"></option>
          <option value="21:00"></option>
          <option value="22:00"></option>
          <option value="23:00"></option>
        </datalist>

        <div id="timerange" class="text-center block">
          <div>
            <label for="email" class="text-center block font-mono text-white"> 調整範囲 </label>
            <input type="datetime-local" id="timerange_begin" value="{{timerange_begin}}" name="timerange_begin"
              class="rounded-lg w-fit py-2 mx-5 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
              required />
            <input type="datetime-local" id="timerange_end" value="{{timerange_begin}}" name="timerange_end"
              class="rounded-lg w-fit py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
              placeholder="2022/9/20 24:00" required />
          </div>
        </div>

        <div class="example2 py-1 " style="text-align: center">
          <input type="button" id="add" w-4 value="＋"
            class="mx-2 bg-blue-300 font-semibold text-white rounded-lg hover:bg-gray-600 px-4 py-2" />
          <input type="button" id="remove" value="ー"
            class="mx-2 bg-blue-300 font-semibold text-white rounded-lg hover:bg-gray-600 px-4 py-2" />
        </div>
        <script>
          // 要素をコピー＆追加する関数
          function addExample() {
            let elements = document.getElementById("timerange");
            let copied = elements.lastElementChild.cloneNode(true);
            elements.appendChild(copied);
          }
          function remove() {
            let parentnode = document.getElementById("timerange");
            if (1 < parentnode.children.length)
              parentnode.lastElementChild.remove();
          }
          // ボタンにイベントハンドラをセット
          const addbtn = document.getElementById("add");
          addbtn.addEventListener("click", addExample, false);
          const removebtn = document.getElementById("remove");
          removebtn.addEventListener("click", remove, false);
        </script>

        <div class="text-center block py-4">
          <label class=" block font-mono text-white"> 優先度 </label>
          <input type="text" id="priority" name="priority"
            class="rounded-lg w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50"
            placeholder="3" required style="text-align: center" />
        </div>
        <!-- <div class="example2" style="text-align: right">
          <input
            type="button"
            id="register"
            w-4
            value="登録"
            class="mx-2 bg-gray-700 hover:bg-gray-600 text-white rounded px-4 py-2"
          />
        </div> -->
        <div class="flex justify-center py-2">
          <button type="submit" style="text-align: right"
            class="mx-2 bg-blue-300 hover:bg-gray-600 font-semibold text-white rounded-lg px-4 py-2">
            送信
          </button>
        </div>
      </form>

      <div>
        <p class="flex justify-center">{{message}}</p>
      </div>
      <div class="flex justify-center py-2">
        <button id="backbtn" class="mx-2 bg-blue-300 rounded px-4 py-2 font-semibold text-white  hover:bg-gray-600"
          onclick="history.back()">ホーム画面に戻る</button>
      </div>
      <script>
        function back() {
          location = "http://127.0.0.1:8000"
        }
  
        const backbtn = document.getElementById("backbtn");
        backbtn.addEventListener("click", back, false);
      </script>

    </div>
  </div>
</body>

</html>