<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <nav class="flex items-center justify-between flex-wrap bg-blue-300 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
    
      <i class="fa fa-calendar fill-current h-8 w-8 mr-10" style="font-size:36px"></i>
      <span class="font-semibold text-xl tracking-tight">湘北WARRIORS</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a
          href="#responsive-header"
          onclick="location.href='./form1'"
          class="block mt-4 lg:inline-block lg:mt-0 bg-grey-300 text-xl text-teal-200 hover:text-white mr-4 px-4"
        >
          Form1
        </a>
        <a
          href="#responsive-header"
          onclick="location.href='./form2'"
          class="block mt-4 lg:inline-block lg:mt-0 text-xl bg-grey-300 text-teal-200 hover:text-white mr-4 px-4"
        >
          Form2
        </a>
        <a
          href="#responsive-header"
          onclick="location.href='./form3'"
          class="block mt-4 lg:inline-block lg:mt-0 text-xl bg-grey-300 text-teal-200 hover:text-white px-4"
        >
          Form3
        </a>
      </div>
      
    </div>
  </nav>
  <body>
    <div id="calendar"></div>

    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="{% static 'scheduleCalendar/app.js' %}"></script>
  </body>
</html>
